Support version 0

When a client tries to establish a session with rpkirtr and this clients only supports version 0, session fails to establish:

2021/01/04 10:09:42 clients.go:159: error received when decoding the header: only version 1 is supported. PDU has version 0

This is compliant with [RFC 8210 section 7.  Protocol Version Negotiation](https://tools.ietf.org/html/rfc8210#section-7):

> If a cache which supports version 1 receives a query from a router
   which specifies version 0, the cache MUST downgrade to protocol
   version 0 [RFC6810] or send a version 1 Error Report PDU with Error
   Code 4 ("Unsupported Protocol Version") and terminate the connection.

Many clients still implement version 0 only. Would be good if rpkirtr could support version 0.

I'm reluctant to add version 0 as it has numerous drawbacks. Checking https://tools.ietf.org/html/rfc8210#section-7 it's valid for this cache to return an error if only supporting version 1. 

Specifically I'm doing the second part here:
  If a cache which supports version 1 receives a query from a router
   which specifies version 0, the cache MUST downgrade to protocol
   version 0 [RFC6810] or send a version 1 Error Report PDU with Error
   Code 4 ("Unsupported Protocol Version") and terminate the connection.